/*text decoration */
.textfirst{
    text-decoration: underline red;
    text-align: center;
}
.texttwo{
    text-decoration: line-through blue;
    text-align: center;
}
.textthree{
    text-decoration: underline overline green;
    text-align: center;
}

/*color css property*/
.builtincolor{
    color: red;
}
.rgb{
    color: rgb(100,200,190);
}
.hexadecimal{
    color: #fdd333;
}

/*text and backimage*/
.myname{
    font-size: 100px;
    text-align: center;
    margin-top: 10px;
    background-size: cover;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqi1xVv49aQ5IYpMzD_k9y7ibgZVVJrX1DxYDFKAluf_1X0n66GjHRnKbZKNsEDHtCYcY&usqp=CAU");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}